Source: android-libhardware
Priority: extra
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 autoconf-archive,
 pkg-config (>= 0.24),
 libandroid-bionic0-dev (>= 0.1.4),
 libandroid-cutils0-dev (>= 0.0.12),
 libandroid-log0-dev (>= 0.0.12)
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/laarid/package_android-libhardware
Vcs-Git: https://github.com/laarid/package_android-libhardware.git
Vcs-Browser: https://github.com/laarid/package_android-libhardware

Package: libandroid-hardware0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-hardware0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.4),
 libandroid-cutils0-dev (>= 0.0.12),
 libandroid-log0-dev (>= 0.0.12),
 ${misc:Depends}
Description: Android libhardware - development
 This package contains libhardware built from Android
 platform/hardware/libhardware.
 .
 This package contains the development files.

Package: libandroid-hardware0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Android libhardware
 This package contains libhardware built from Android
 platform/hardware/libhardware.
